body{
    background-color:rgb(244, 229, 13);
    margin:0;
    justify-content: center;
    align-items: center;
    display: flex;
     z-index:1000;
}
.box{
    width:700px;
    height:400px;
    background-color:rgb(243, 15, 15);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    border-radius: 10px;
    margin-top:100px;
   
}
.image-header{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    
}
.image{
    height:350px;;
    object-fit: cover;
    background-color: rgb(206, 197, 197);
    border-radius: 20px;
    margin:0 20px; 
}
.about{
    color:tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
}
.head{
    color:black;

}