.body{
    margin:0;
    font-family:Roboto;
    background-image: url("../Logos/675502.jpg");
    background-size:contain;
    background-position: center;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 1000px;
    margin-top: 20px;
}