.content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    margin-bottom: 100px;;
}
.Seansons{
    border:solid;
    border-width:1.5px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border:none;
}
.image{
    width:300px;
    overflow: hidden;
    margin:20px;
    border-radius: 20px;
    cursor:cell ;
}
.season-1,
.season-2,
.season-3{
    object-fit: contain;
    width: 100%;
    height:100%;
    transition: all 0.3s ease-in-out;
} 
.season-1:hover,
.season-2:hover,
.season-3:hover{
    transform: scale(1.1);
}
@media (max-width:1050px){
    .content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:600px){
    .content{
        grid-template-columns: 1fr;
        margin-bottom:50px;
    }
    .image{
        width:90%;
        max-width:320px;
        margin:10px auto;
    }
}
